.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em 3em; /* You can adjust the gap to your preference */
}

/* Styling for larger screens (2 columns) */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
