.header {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0; /* top edge of the viewport */
  z-index: 1000; /* optional, to make sure the header is always on top of other elements */
  background-color: #fff6ef;
  padding: 1em;
}
