.container {
  background-color: #fff6ef;
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
}

.heading {
  color: white;
  font-size: 3em;
  text-transform: uppercase;

  padding-top: 50px;
}
.subheading {
  color: white;
  font-size: 2em;

  padding-bottom: 1em;
}
